<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-Book Collection</title>
    <%- include("./partials/dashboardStyle") %>
    <%- include("./partials/ebookStyle") %>
</head>

<body>
    <%- include("./partials/header") %>
    <div class="realvjy">
        <h1 style="
            border: 2px dotted black;
            width: fit-content;
            height: fit-content;
            padding: 10px;
            margin:auto; 
        ">E-Book Store</h1>
    </div>
    <div class="book-wrapper"  >
        <div class="book-items">
            <div class="main-book-wrap">
                <div class="book-cover">
                    <div class="book-inside"></div>
                    <div class="book-image" onclick="toDrive('https:\/\/www.mbit.edu.in/wp-content/uploads/2020/05/Operating_System_Concepts_8th_EditionA4.pdf')">
                        <img src="https://www.tppl.org.in/2020/4037-large_default/operating-system.jpg" />
                        <div class="effect"></div>
                        <div class="light"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="book-items" >
            <div class="main-book-wrap">
                <div class="book-cover">
                    <div class="book-inside"></div>
                    <div class="book-image" onclick="toDrive('https:\/\/people.inf.elte.hu/miiqaai/elektroModulatorDva.pdf')">
                        <img src="https://www.tppl.org.in/2020/4031-large_default/database-management-system.jpg" />
                        <div class="effect"></div>
                        <div class="light" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book-items">
            <div class="main-book-wrap">
                <div class="book-cover">
                    <div class="book-inside"></div>
                    <div class="book-image" onclick="toDrive('https:\/\/drive.google.com/file/d/1ihWStsAnlrw80s-aYXWt4T3G-DlwFKx4/view?usp=drive_link')">
                        <!-- compiler design -->
                        <img src="https://sp-uploads.s3.amazonaws.com/uploads/services/3206217/20220219102044_6210c47cc51f1_dragonbook_2v2_compiler_designpage0.png" />
                        <div class="effect"></div>
                        <div class="light"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="book-items">
            <div class="main-book-wrap">
                <div class="book-cover">
                    <div class="book-inside"></div>
                    <div class="book-image" onclick="toDrive('https:\/\/users.cs.fiu.edu/~prabakar/cen5079/Common/textbooks/Mastering_Blockchain_2nd_Edition.pdf')">
                        <img src="https://www.kaav.org/uploads/Cover_Page_(BLOCKCHAIN_TECHNOLOGY).jpg" />
                        <div class="effect"></div>
                        <div class="light"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book-items">
            <div class="main-book-wrap">
                <div class="book-cover">
                    <div class="book-inside"></div>
                    <div class="book-image" onclick="toDrive('https:\/\/karadev.net/uroci/filespdf/files/a%20book%20on%20c.pdf')">
                        <img src="https://www.booksb2bportal.com/covers/31/9781683920908_L.jpg" />
                        <div class="effect"></div>
                        <div class="light"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="book-items">
            <div class="main-book-wrap">
                <div class="book-cover">
                    <div class="book-inside"></div>
                    <div class="book-image" onclick="toDrive('https:\/\/www.cs.cmu.edu/afs/cs.cmu.edu/user/gchen/www/download/java/LearnJava.pdf')">
                        <img src="https://anjanibooks.com/wp-content/uploads/2019/09/Java-The-Complete-Reference.jpg" />
                        <div class="effect"></div>
                        <div class="light"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="book-items">
            <div class="main-book-wrap">
                <div class="book-cover">
                    <div class="book-inside"></div>
                    <div class="book-image" onclick="toDrive('https://drive.google.com/file/d/14opt4f7eeFL21IcihL2cOGorFYcIYu6y/view?usp=drive_link')">
                        <img src="https://cdn01.sapnaonline.com/product_media/9789353066697/sm_9789353066697_180920201143222.jpg" />
                        <div class="effect"></div>
                        <div class="light"></div>
                    </div>

                </div>
            </div>
        </div>
        
        <div class="book-items">
            <div class="main-book-wrap">
                <div class="book-cover">
                    <div class="book-inside"></div>
                    <div class="book-image" onclick="toDrive('https:\/\/drive.google.com/file/d/1Ut_TBX3Yyd1mh_IqHRTXXn2s-hInAJk3/view?usp=drive_link')">
                        <img src="https://5.imimg.com/data5/XJ/SN/MY-46815014/data-structures-and-algorithms-made-easy.png" />
                        <div class="effect"></div>
                        <div class="light"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="book-items">
            <div class="main-book-wrap">
                <div class="book-cover">
                    <div class="book-inside" ></div>
                    <div class="book-image" onclick="toDrive('https:\/\/faculty.ksu.edu.sa/sites/default/files/ObjectOrientedProgramminginC4thEdition.pdf')">
                        <img src="https://m.media-amazon.com/images/I/41XH-HOlMXL._SL500_.jpg" />
                        <div class="effect"></div>
                        <div class="light"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <%- include("./partials/footer") %>
</body>
<%- include("./partials/ebookScript") %>
<%- include("./partials/dashboardScript") %>
</html>