<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentorship: Study-Mate</title>
    <%- include("./partials/head") %> 
    <%- include("./partials/dashboardStyle") %> 
</head>
<body>
    <%- include("./partials/header") %>
    <nav class="navbar bg-body-tertiary ">
        <form class="container-fluid justify-content-end">
            <button class="btn btn-outline-success me-2" id="mentorship" type="button">Queries</button>
          <button class="btn btn-sm btn-outline-secondary  me-2" id="StudentList"
            type="button">StudentList</button>
          <button class="btn btn-outline-success me-2" id="putupNotice" type="button">Put up a Notice</button>
        </form>
      </nav>

    <h3 class="m-5 ">Student List Under Mentorship</h3>
    <% if (locals.error) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Student Name</th>
            <th scope="col">CollegeId</th>
            <th scope="col">E-Mail</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
            <% if (locals.data) { %>
                <% let i=1 %>
                <% data.forEach(element => { %>
                    <tr>
                        <th scope="row"><%= i++ %></th>
                        <td><%= element.name %></td>
                        <td><%= element.collegeId %></td>
                        <td><%= element.email %></td>
                      </tr>
                <% }) %>
            <% } %>
          
          
        </tbody>
      </table>

    <%- include("./partials/footer") %>
</body>
<%- include("./partials/dashboardScript") %>
<% if (locals.user && user.role==="faculty") { %>
    <%- include("./partials/dashboardSciptFaculty") %>
<% } else { %>
    <%- include("./partials/dashboardSciptStudent") %>
<% } %>
<script>
    document.querySelector('#StudentList')
        .addEventListener('click', () => {
            window.location.href = "/user/mentorship/studentlist";
        })
    document.querySelector("#putupNotice")
        .addEventListener('click',()=>{
            window.location.href="/user/mentorship/putupnotice";
    })
    document.querySelector("#mentorship")
        .addEventListener('click',()=>{
            window.location.href="/user/mentorship";
    })
</script>
</html>